@{
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

@section links {
    @RenderSection("pagelinks", required: false)       
}

@section styles{
        <style type="text/css">
            .widget-box .widget-toolbar a
	        {
		        color: white;
	        }

            .tablewrap
            {
                overflow:scroll;
            }

            .table-nonfluid {
                table-layout: auto;
                width: 98%;
            }

            .table td.last
            {
                width:1px;
                white-space: nowrap;
            }

            .table .table-cell{
                font-family: Tahoma,Verdana,宋体;
                font-size: 9pt;
                line-height: 18px;
                overflow: hidden;
                padding: 2px 0;
                position: relative;
                white-space: normal;
                width: 100%;
                word-break: break-all;
            }

            .table .table-cell-nowrap{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                word-break: keep-all;
            }
        </style>
}

@RenderSection("pagestyles", required: false)

@section navbar {
        <div class="navbar">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="#">
                        <img src='@Url.Content("~/Images/logo.png")' alt='@System.Configuration.ConfigurationManager.AppSettings["companyName"]' />
                        @System.Configuration.ConfigurationManager.AppSettings["productName"]
                    </a>
                    <ul class="nav ace-nav pull-right">
                        <li class="light-blue user-profile">
                            @Html.Partial("_LoginPartial")
                        </li>
                    </ul>
                </div>
            </div>
        </div>
}

<div class="main-container container-fluid" id="main-container">
	<a href="#" id="menu-toggler" class="menu-toggler"><span class="menu-text"></span></a><!-- menu toggler -->
    <div id="sidebar" class="sidebar">
        <div id="sidebar-shortcuts" class="sidebar-shortcuts">
            <div id="sidebar-shortcuts-large" class="sidebar-shortcuts-large">
                <button class="btn btn-small btn-success">
                    <i class="icon-signal"></i>
                </button>

                <button class="btn btn-small btn-info">
                    <i class="icon-pencil"></i>
                </button>

                <button class="btn btn-small btn-warning">
                    <i class="icon-group"></i>
                </button>

                <button class="btn btn-small btn-danger">
                    <i class="icon-cogs"></i>
                </button>
            </div>

            <div id="sidebar-shortcuts-mini" class="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div>
        <!--#sidebar-shortcuts-->

        <ul id="menubar" class="nav nav-list">
            
        </ul>
        <!--/.nav-list-->

        <div id="sidebar-collapse" class="sidebar-collapse">
            <i class="icon-double-angle-left"></i>
        </div>
    </div>
    <div id="main-content" class="main-content" style="height:100%">
        <!--
        <div id="breadcrumbs" class="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="#">Home</a>

                    <span class="divider">
                        <i class="icon-angle-right arrow-icon"></i>
                    </span>
                </li>
                <li class="active">Tables</li>
            </ul>
            <!--.breadcrumb-->
        <!--
            <div id="nav-search" class="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" autocomplete="off" id="nav-search-input" class="input-small nav-search-input" placeholder="Search ...">
                        <i class="icon-search nav-search-icon"></i>
                    </span>
                </form>
            </div>
            
        </div><!--#nav-search-->
        
        <div id="page-content" class="page-content">
            @RenderSection("pagebody", required: false)
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        require(['controllers/shared/_layout'], function (layout) {
            layout.initialize({
                menuDataUrl: '@Scripts.Url("~/api/test/tree")',
                el: '#menubar'
            });
        });
    </script>
        @RenderSection("pagescripts", required:false)
}
